<!DOCTYPE html>
<html lang="en">

<head>
      <style>
        .flip-card {
          background-color: transparent;
          width: 300px;
          height: 300px;
          perspective: 1000px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          color: black;
        }

        .flip-card-back {
          background-color: #0C576E;
          color: white;
          transform: rotateY(180deg);
        }
        form {
          display: flex;
          justify-content: center;
          font-family: Roboto, Arial, sans-serif;
          font-size: 15px;
          }
        form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        fone-size:18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: right;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align:left;
        }
        span.psw {
        float: right;
        padding-top: 0;
        padding-right: 15px;
        }
        /* Change styles for span on extra small screens */
        @media screen and (max-width: 300px) {
        span.psw {
        display: block;
        float: none;
        }
    </style>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hear4Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.jpg" rel="icon">
  <link href="assets/favicon.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Butterfly - v4.3.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between d-flex p-10  d-flex align-items-stretch w-100 "  >

      <a href="#hero" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid" width="50%" height="50%"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

      <nav id="navbar" class="navbar">
        <ul dir="rtl">
          <li><a class="nav-link scrollto active" href="#hero">עמוד הבית</a></li>
          <li><a class="nav-link scrollto active" href="#service">התהליך</a></li>
          <li><a class="nav-link scrollto" href="#about">אודות</a></li>
          <li><a class="nav-link scrollto" href="#services">כניסה</a></li>
          <li><a class="nav-link scrollto" href="#team">הצוות שלנו</a></li>
          <li><a class="nav-link scrollto" href="#contact">צור קשר</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('policy_he')}}">מדיניות</a></li>
          <li class="dropdown"><a href="#null"><span>שפות</span>&nbsp;<i class="bi bi-chevron-left"></i></a>
            <ul>
              <li><a href="#hero">עברית</a></li>
              <li><a href="{{url_for('ar')}}">العربية</a></li>
              <li><a href="{{url_for('main')}}">English</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex">

    <div class="container"  align="center">
      <div class="row" >
        <div  align="center">
          <div >
            <div class="row">
              <div class="col-sm"><br>
                 <p style="font-family: 'Questrial', sans-serif; font-size:150%;">
                   אנחנו כאן בשבילך, צור קשר עכשיו כדי שנוכל לעזור
                 </p>
              </div>
            </div>
          </div>
        </div>
        </br>
        <div align="center">
          <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSeoC0wPKSB9JKNT7hbS8CI7Ij90k7aVhwfFJW-IFtujCFBhiQ/viewform" target="_blank">
          <button id="call" type="submit" class="btn-primary d-flex justify-content-center align-items-center btn-lg btn-block" style="vertical-align:center; background-color: #49b5e7; box-shadow: 2px 2px 2px grey; height:5rem; width: 50%;"><img src="assets/img/phone.png" style="size:1em; height:60%; position: relative; top:0.1em;"> &nbsp;צור קשר </button>
          </a></br>
        </div>
        <div class=" hero-img" align="center">
          <br><img src="assets/img/cc.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

        <!-- ======= Service Section ======= -->
    <section id="service" class="service">
      <div class="container" align="center">
        <h2 style="color: #0C576E;" align="center"><b>מה התהליך</b></h2><br>
        <h4 align="center">העבר/י את העכבר על הכרטיסים כדי לראות את הפרטים</h4><br>
        <div class="row justify-content-center d-flex" style="align-content:center;" >
          <div class="flip-card col-lg-2 col-md-2 col-sm-12 col-xs-12" style=" width:15rem; margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; position:center; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style="padding:1rem; border-radius: 25px; background-color:#18ABDC;">
                <br><br>
                <h2  style="position: absolute; top: 18%; right:3%;">אנחנו נוודא שאת/ה בסדר</h2>
                <img src="assets/img/like1.png" style="width:5rem; position: absolute; top:56%; right:30%;">
              </div>
              <div class="flip-card-back"style=" padding:1rem; border-radius: 25px;">
                <br>
                <h4>המתנדב/ת שלנו יתקשר/תתקשר אליך לאחר כמה ימים כדי לוודא שקיבלת את העזרה שהיית זקוק/ה לה</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem; margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style=" border-radius: 25px; background-color:#35BCE9;">
                <br><br><h2 style="position: absolute; top: 8%; right:3%;">מצא/י את המומחה בשבילך</h2>
                <img src="assets/img/jigsaw1.png" style="width:5rem; position: absolute; top:56%; right:30%;">
              </div>
              <div class="flip-card-back"style=" border-radius: 25px;">
                <br><br>
                <h4 style="padding:1px;">נמצא עבורך פסיכולוג/ית שיהיה/שתהיה מותאם/ת למצב ולסיטואציה שלך</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem;  margin:0.5em;">
            <div class="flip-card-inner"style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style=" border-radius: 25px; background-color:#6CCEEF;">
                <br><br><br><h2 >קבל/י עזרה</h2>
                <img src="assets/img/handshake1.png" style="width:5rem; position: absolute; top:56%; right:30%;">
              </div>
              <div class="flip-card-back"style=" padding:1rem; border-radius: 25px;">
                <br><br>
                <h4>אחד מהמתנדבים שלנו יצור איתך קשר על מנת לספק לך עזרה</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem;  margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style="  border-radius: 25px;background-color:#A3E0F5;">
                <br><br><br><h2 >מלא/י מידע</h2>
                <img src="assets/img/briefing_11.png" style="width:5rem; position: absolute; top:56%; right:30%;">
              </div>
              <div class="flip-card-back" style=" padding:1rem; border-radius: 25px;">
                <br><h4>מלא/י את השאלון כדי שנוכל לוודא שאת/ה בטוח/ה וכדי שנוכל ליצור איתך קשר. המידע שלך שמור ולא יופץ או ישותף</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style=" width:15rem; margin:0.5em; align-items: center;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front"style=" border-radius: 25px; background-color:#C8EDF9;">
                <br><br><br><h2>צור/י קשר</h2>
                <img src="assets/img/phone1_1.png" style="width:5rem; position: absolute; top:56%; right:30%;">
              </div>
              <div class="flip-card-back" style="padding:0.7rem; border-radius: 25px;">
                <br><br><br>
                <h4>תפנה/י אלינו ותעשה/י את הצעד הראשון לקבלת עזרה</h4>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Service Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 style="text-align:right; color:  #0C576E;">אודות</h3>
            <p dir="rtl" style="text-align:right; font-family: 'Questrial', sans-serif; color:  #0C576E; font-size:120%;"><br>
            הצוות שלנו מורכב מקבוצה של 10 בני/ות נוער שנפגשו בתוכנית בשם MEET במטרה לעזור לבני/ות נוער אחרים. אנחנו רואים עתיד שבו עזרה נפשית תהיה נגישה לבני/ות נוער ללא תהליך מורכב ובכך לעזור להם לשפר את מצבם הנפשי.
                המשימה שלנו היא לספק גישה קלה לשירות נפשי מקצועי בעזרת האתר שלנו.
                הפלטפורמה שלנו פועל בעזרת סטודנטים לתואר שני בפסיכולוגיה כדי שבני הנוער שפונים אלינו יקבלו את התמיכה הנפשית הטובה ביותר כאשר הם מתמודדים עם סיטואציות נפשיות קשות.
            </p>

          </div>
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            <a href="https://youtu.be/n4soJXZwtBU" class="glightbox play-btn mb-4"></a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>סטטיסטיקות רלוונטיות</h3>
          <p dir="rtl">הסטטיסטיקות הבאות נמצאו ממחקרים שנעשו על ידי "Headspace" ו "אנוש".</p>
        </div>

        <div dir="rtl" class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span>%</span>
            <span data-purecounter-start="0" data-purecounter-end="73" data-purecounter-duration="1" class="purecounter percentage">
            </span>
            <h5>"מהנערים בגילאי 13-18  דיווחו שהם חווים משבר נפשי או בעיה נפשית"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>%</span>
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter percentage"></span>
            <h5>"מהנערים בטוחים שהם יבקשו טיפול נפשי או ייעוץ"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>%</span>
            <span data-purecounter-start="0" data-purecounter-end="59" data-purecounter-duration="1" class="purecounter percentage"></span>
            <h5>"מההורים מעדיפים לשלוח את ילדיהם לטיפול נפשי פרטי מאשר טיפול נפשי ציבורי"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span>%</span>
            <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter percentage" style="display:inline-block;"></span>
            <h5>"מהנערים מודים שהם נמנעים מלקבל טיפול נפשי מתוך בושה"</h5>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>התחברות למתנדבים</h2>
          <form action="/he" method="POST">
            <div class="formcontainer">
              <hr/>
              <div class="container">
                <label for="uname" style="float:right; align-text:right;"><strong>שם משתמש</strong></label>
                <input type="text" placeholder="הכנס/י שם משתמש" style="" name="uname" required>
                <label dir="rtl" for="psw" style="float:right; align-text:right;"><strong>סיסמה</strong></label>
                <input type="password" placeholder="הכנס/י סיסמה" name="psw" required>
              </div>
              <button type="submit" class=" btn-lg" style="box-shadow: 2px 2px 2px grey; background-color:#49b5e7;">התחבר/י</button>
            </div>
          </form>
          <a href="https://docs.google.com/forms/d/18K86At7l0Jbo4JiVqluyZVpY860aBm2pZ6_lbwpfx9U/viewform" target="_blank">
            <br><button dir="rtl" class="primary" style="background-color:#0d6efd; box-shadow: 2px 2px 2px grey;"> <b>מתנדב/ת חדש/ה? &nbsp; הצטרף/י לצוות של Hear4me!</b></button>
          </a>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>משימה</h3>
                <p dir="rtl">
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  לספק לנערים עזרה נפשית נגישה דרך אתר אינטרנט.
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>חזון</h3>

                <p dir="rtl">
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  אנחנו  מדמיינים מציאות שבה לנערים יש גישה קלה לטיפול נפשי, בלי לעבור תהליך מסובך.
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>הצוות שלנו</h2>
          <p>תכירו את הצוות שלנו</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Goori.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">גורי ליגום</h4><br>
                  <span>goorilegum@gmail.com</span><span style="float:right;">מנהל מוצר</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Salam.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">סאלאם עקיטה</h4><br>
                  <span>salam.aqita@gmail.com</span><span style="float:right;">מנהלת מוצר</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/natali.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">נטלי מושאיוב</h4><br>
                  <span>natalimosh209@gmail.com</span><span style="float:right;">אחראית חווית משתמש</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Roni.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">רוני כץ</h4><br>
                  <span>ronikatz215@gmail.com</span><span style="float:right;">אחראית חווית משתמש</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch" >
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Razi.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">ראזי סאלאמה</h4><br>
                  <span>razi1salameh@gmail.com</span><span style="float:right;">אחראי חווית משתמש</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch" >
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Jana.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">ג'אנא סייד אחמד</h4><br>
                  <span>janasayedahmad@gmail.com</span><span style="float:right;">מתכנתת</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member ">
              <div class="member-img ">
                <img src="assets/img/team/Abdrew.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">אנדרו שהלא</h4><br>
                  <span>andrew.shahla@gmail.com</span><span style="float:right;">מתכנת</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Rushdi.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">רושדי דקה</h4><br>
                  <span>rushdidaqa@gmail.com</span><span style="float:right;">מתכנת</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="position:center;">
          <div class="col-lg-3 col-md-0  align-items-stretch">
          </div>
          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Siwar.jpg" class="img-fluid" style=" width:100%;" alt="" >

              </div>
              <div class="member-info">
                <h4 style="float:right;">סיואר חמאד</h4><br>
                  <span>siwar.hmad11@gmail.com</span><span style="float:right;">מעצבת</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Mai.jpg" class="img-fluid" style=" width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4 style="float:right;">מאי בר</h4><br>
                  <span>maiber.0248@gmail.com</span><span style="float:right;">מעצבת</span>
              </div>
            </div>




          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>צור/י קשר</h2>
        </div>


        <div class="row mt-1" style=" align-text:right;">
          <div class="col-lg-2 " dir="rtl"></div>
          <div class="col-lg-5 col-md-6 col-sm-6" dir="rtl">
            <div class="info">
              <div class="phone" style="align-text:right;">
                <a href="https://www.facebook.com/Hear4Me" target="_blank">
                  <i class="bi bi-facebook" style=" float:right; align-text:right;"></i>
                  <h4 style="float:right; align-text:right;">&nbsp;פייסבוק:</h4><br>
                  <h6 style="color:#2079a1;"><u>Hear4Me</u></h6>
                </a>
              </div>

              <div class="phone" style="align-text:right;">
                <a href="https://www.linkedin.com/company/hear4me/" target="_blank">
                  <i class="bi bi-linkedin" style=" float:right; align-text:right;"></i>
                  <h4 style="float:right; align-text:right;">&nbsp;לינקדאין:</h4><br>
                  <h6 style="color:#2079a1;"><u>hear4me</u></h6>
                </a>
              </div>

              <div class="phone" style="align-text:right;">
                <a href="https://twitter.com/hear4me2021" target="_blank">
                  <i class="bi bi-twitter" style=" float:right; align-text:right;"></i>
                  <h4 style="float:right; align-text:right;">&nbsp;טוויטר:</h4><br>
                  <h6 style="color:#2079a1;"><u>hear4me2021</u></h6>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6" dir="rtl">
            <div class="info">
              <div class="email" style="align-text:right;">
                <i class="bi bi-envelope" style="float:right; align-text:right;"></i>
                <h4 style="float:right; align-text:right;">&nbsp;אימייל:</h4><br>
                <h6 style="color:#2079a1;">hear4me.2021@gmail.com</h6>
              </div>

              <div class="phone" style="align-text:right;">
                <i class="bi bi-phone" style="float:right; align-text:right;"></i>
                <h4 style="float:right; align-text:right;">&nbsp;מספר:</h4><br>
                <h6 style="color:#2079a1;">0536261291</h6>
              </div>

              <div class="phone" style="align-text:right;">
                <a href="https://instagram.com/hear4_me?utm_medium=copy_link" target="_blank">
                  <i class="bi bi-instagram" style=" float:right; align-text:right;"></i>
                  <h4 style="float:right; align-text:right;">&nbsp;אינסטגרם:</h4><br>
                  <h6 style="color:#2079a1;"><u>hear4_me</u></h6>
                </a>
              </div>
            </div>

          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">




    <div class="container py-4">
      <div class="copyright" dir="rtl" style="float:right;">
         כל הזכויות&copy; שמורות ל<strong><span>  Hear4Me</span></strong>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center" style=" left:1vw;" dir="rtl"><i class="bi bi-arrow-up-short" ></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
<style>
  input[type="text"]::placeholder {

                /* Firefox, Chrome, Opera */
                text-align: right;
            }
  input {
      text-align: right;
  }
</style>
</html>