<!DOCTYPE html>
<html lang="en">

<head>
      <style>
        .flip-card {
          background-color: transparent;
          width: 300px;
          height: 300px;
          perspective: 1000px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .flip-card:hover .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          color: black;
        }

        .flip-card-back {
          background-color: #0C576E;
          color: white;
          transform: rotateY(180deg);
        }
        form {
          display: flex;
          justify-content: center;
          font-family: Roboto, Arial, sans-serif;
          font-size: 15px;
          }
        form {
        border: 5px solid #f1f1f1;
        }
        input[type=text], input[type=password] {
        width: 100%;
        padding: 16px 8px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
        button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
        width: 100%;
        }
        h1 {
        text-align:center;
        fone-size:18;
        }
        button:hover {
        opacity: 0.8;
        }
        .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
        }
        .container {
        padding: 16px 0;
        text-align:left;
        }
        span.psw {
        float: right;
        padding-top: 0;
        padding-right: 15px;
        }
        /* Change styles for span on extra small screens */
        @media screen and (max-width: 300px) {
        span.psw {
        display: block;
        float: none;
        }
    </style>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hear4Me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.jpg" rel="icon">
  <link href="assets/favicon.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Butterfly - v4.3.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between d-flex p-10  d-flex align-items-stretch w-00 " style="max-width:1500px;" >

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto active" href="#service">The Process</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Log-in</a></li>
          <li><a class="nav-link scrollto" href="#team">Our Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="{{url_for('policy')}}">Policy</a></li>
          <li class="dropdown"><a href="#null"><span>Languages</span> <i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#hero">English</a></li>
              <li><a href="{{url_for('ar')}}">العربية</a></li>
              <li><a href="{{url_for('he')}}">עברית</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a href="#hero" class="logo"><img src="assets/img/logo.png" style="float:right;" alt="" class="img-fluid" width="50%" height="50%"></a>
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex">

    <div class="container"  align="center">
      <div class="row" >
        <div  align="center">
          <div >
            <div class="row">
              <div class="col-sm"><br>
                 <p style="font-family: 'Questrial', sans-serif; font-size:150%;">
                   We are here for you,
                    Reach us now and let us help you
                 </p>
              </div>
            </div>
          </div>
        </div>
        </br>
        <div align="center">
          <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSchi30GMIdzGAQqF4PUwCkOWllfocgw3b6qGGJZeit5NGsOmA/viewform" target="_blank">
          <button id="calll" type="submit" class="btn-primary btn-lg btn-block" style="background-color: #49b5e7; box-shadow: 2px 2px 2px grey;  height:5rem; width: 50%;">Reach out &nbsp;&nbsp;<img src="assets/img/phone.png" style="height:60%;"></button>
          </a></br>
        </div>
        <div class=" hero-img" align="center">
          <br><img src="assets/img/cc.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

        <!-- ======= Service Section ======= -->
    <section id="service" class="service">
      <div class="container" align="center">
        <h2 style="color: #0C576E;" align="center"><b>The Process</b></h2><br>
        <h4 align="center">Hover over the flipping cards to see the details</h4><br>
        <div class="row justify-content-center d-flex" style="align-content:center;" >
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style=" width:15rem; margin:0.5em; align-items: center;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front"style=" border-radius: 25px; background-color:#C8EDF9;">
                <br><br><h1>Reach out</h1>
                <img src="assets/img/phone1_1.png" style="width:5rem;  position: absolute; top:56%; right:30%">
              </div>
              <div class="flip-card-back" style=" border-radius: 25px;">
                <br><br><br><br>
                <h4>Reach out and make the first step to get help</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem;  margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style="  border-radius: 25px;background-color:#A3E0F5;">
                <br><h1>Fill information</h1>
                <img src="assets/img/briefing_11.png" style="width:5rem; position: absolute; top:56%; right:30%">
              </div>
              <div class="flip-card-back" style=" padding:1rem; border-radius: 25px;">
                <br><h4>Fill our survey to help us make sure you are safe, and contact you later. Your information is secure and will not be shared</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem;  margin:0.5em;">
            <div class="flip-card-inner"style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style=" border-radius: 25px; background-color:#6CCEEF;">
                <br><br><h1>Get help</h1>
                <img src="assets/img/handshake1.png" style="width:5rem;position: absolute; top:56%; right:30%">
              </div>
              <div class="flip-card-back"style=" padding:1rem; border-radius: 25px;">
                <br><br>
                <h4>one of our volunteers will contact you to provide you with the help you need</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-md-2 col-lg-2 col-sm-12 col-xs-12" style="width:15rem; margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style=" border-radius: 25px; background-color:#35BCE9;">
                <br><h1>Find your match</h1>
                <img src="assets/img/jigsaw1.png" style="width:5rem; position: absolute; top:56%; right:30%">
              </div>
              <div class="flip-card-back"style=" border-radius: 25px;">
                <br><br><br>
                <h4>Get matched with a therapist that will be suitable for your situation</h4>
              </div>
            </div>
          </div>
          &nbsp;&nbsp;
          <div class="flip-card col-lg-2 col-md-2 col-sm-12 col-xs-12" style=" width:15rem; margin:0.5em;">
            <div class="flip-card-inner" style=" border-radius: 25px; position:center; box-shadow: 0.5px 0.5px 0.5px grey;">
              <div class="flip-card-front" style="padding:1rem; border-radius: 25px; background-color:#18ABDC;">
                <h1 style="position: absolute; top:9%; right:0%">We check up on You</h1>
                <img src="assets/img/like1.png" style="width:5rem; position: absolute; top:56%; right:30%">
              </div>
              <div class="flip-card-back"style=" padding:1rem; border-radius: 25px;">
                <br><br>
                <h4>Our volunteer will call you after a few days to make sure you got the right help you needed</h4>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End Service Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center video-box align-items-stretch position-relative">
            <a href="https://youtu.be/n4soJXZwtBU" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 style=" color:  #0C576E;">About us</h3>
            <p style="font-family: 'Questrial', sans-serif; color:  #0C576E; font-size:120%;"><br>

Our team is a group of 10 teenagers who came together under a program called MEET in order to help other teenagers.
We envision a reality where teens can access mental health care easily without going through a complicated process and by that improving their mental health.

Our mission is
to provide easily accessible mental health care service through a website.
Our startup operates with the help of post-grad psychology students to help teenagers receive the best mental aid possible when facing mentally difficult situations.</p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>Relevant Statistics</h3>
          <p>These statistics are from a research conducted by Headspace and Enosh's own research.</p>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="73" data-purecounter-duration="1" class="purecounter percentage">
            </span>
            <span>%</span>
            <h5>"Of youths aged 13-18 report that they have experienced a mental health crisis or a mental health problem"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter percentage"></span>
            <span>%</span>
            <h5>"Of youths are confident that they will request mental health treatment or consultation"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="59" data-purecounter-duration="1" class="purecounter percentage"></span>
            <span>%</span>
            <h5>"Of parents prefer to refer their child to private mental health services rather than public ones"</h5>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="40" data-purecounter-duration="1" class="purecounter percentage" style="display:inline-block;"></span>
            <span>%</span>
            <h5>"Of youths admit that they mainly refrain from receiving mental health treatment because of shame"</h5>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Volunteer Log in</h2>
          <form  action="/" method="POST">
            <div class="formcontainer">
              <hr/>
              <div class="container">
                <label for="uname"><strong>Username</strong></label>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <label for="psw"><strong>Password</strong></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
              </div>
              <button type="submit" class=" btn-lg" style="box-shadow: 2px 2px 2px grey; background-color:#49b5e7;">Login</button>
            </div>
          </form>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSf_FCEwz5VZjr9SDKvqUeIQ1Pjs2ZTO4q0ZzWYsmNxHRMSLRw/viewform?usp=sf_link" target="_blank">
            <br><button class="primary" style="background-color:#0d6efd; box-shadow: 2px 2px 2px grey;"> <b>New Volunteer? &nbsp; Join the Hear4Me team!</b></button>
          </a>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>Mission</h3>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  To provide teenagers easily accessible mental health care through a website.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <h3>Vision</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  We envision a reality where teens can easily access mental health care, without having to go through a complicated process.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>Meet Our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Goori.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Goori Legum</h4>
                <span>goorilegum@gmail.com<br> Product Manager</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Salam.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Salam Aqita</h4>
                <span>salam.aqita@gmail.com<br>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/natali.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Natali Moashaiev</h4>
                <span>natalimosh209@gmail.com<br>UXer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Roni.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Roni Katz</h4>
                <span>ronikatz215@gmail.com<br>Uxer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch" >
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Razi.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Razi Salameh</h4>
                <span>razi1salameh@gmail.com<br>UXer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch" >
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Jana.jpg" style="width:100%;" class="img-fluid" alt="">

              </div>
              <div class="member-info">
                <h4>Jana Sayed Ahmad</h4>
                <span>janasayedahmad@gmail.com<br>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member ">
              <div class="member-img ">
                <img src="assets/img/team/Abdrew.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Andrew Shahla</h4>
                <span>andrew.shahla@gmail.com<br>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Rushdi.jpg" class="img-fluid" style="width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Rushdi Daqa</h4>
                <span>rushdidaqa@gmail.com<br>Developer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="position:center;">
          <div class="col-lg-3 col-md-0  align-items-stretch">
          </div>
          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Siwar.jpg" class="img-fluid" style=" width:100%;" alt="" >

              </div>
              <div class="member-info">
                <h4>Siwar Hammad</h4>
                <span>siwar.hmad11@gmail.com<br>Designer</span>
              </div>
            </div>
          </div>



          <div class="col-lg-3 col-md-6  align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/Mai.jpg" class="img-fluid" style=" width:100%;" alt="">

              </div>
              <div class="member-info">
                <h4>Mai Ber</h4>
                <span>maiber.0248@gmail.com<br>Designer</span>
              </div>
            </div>




          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>


        <div class="row mt-5">

          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="info">
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>hear4me.2021@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0536261291</p>
              </div>

              <div class="phone">
                <a href="https://instagram.com/hear4_me?utm_medium=copy_link" target="_blank">
                  <i class="bi bi-instagram"></i>
                  <h4>Instagram:</h4>
                  <p><u>hear4_me</u></p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6">
            <div class="info">
              <div class="phone">
                <a href="https://www.facebook.com/Hear4Me" target="_blank">
                  <i class="bi bi-facebook"></i>
                  <h4>Facebook:</h4>
                  <p><u>Hear4Me</u></p>
                </a>
              </div>

              <div class="phone">
                <a href="https://www.linkedin.com/company/hear4me/" target="_blank">
                  <i class="bi bi-linkedin"></i>
                  <h4>LinkedIn:</h4>
                  <p><u>hear4me</u></p>
                </a>
              </div>

              <div class="phone">
                <a href="https://twitter.com/hear4me2021" target="_blank">
                  <i class="bi bi-twitter"></i>
                  <h4>Twitter:</h4>
                  <p><u>hear4me2021</u></p>
                </a>
              </div>

            </div>

          </div>



        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">




    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Hear4Me</span></strong>. All Rights Reserved

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
<style>
         @media screen and (min-width: 460px) {
        #calll {
        font-size:170%;
        max-
        }
        @media screen and (max-width: 460px) {
        #calll {
        font-size:120%;
        }
</style>
</html>