<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hear4me</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Butterfly - v4.3.0
  * Template URL: https://bootstrapmade.com/butterfly-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-center" style="flex-wrap:wrap;">
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{{url_for('main')}}">Home</a></li>
          <li class="dropdown"><a><span>Languages</span><i class="bi bi-chevron-right"></i></a>
            <ul>
              <li><a href="#">English</a></li>
              <li><a href="{{url_for('policy_ar')}}">العربية</a></li>
              <li><a href="{{url_for('policy_he')}}">עברית</a></li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      <img src="assets/img/logo.png" alt="" class="img-fluid" style="width:50%; max-height:110px;">
      <!-- Uncomment below if you prefer to use text as a logo -->
      <!-- <h1 class="logo"><a href="index.html">Butterfly</a></h1> -->


    </div>
  </header><!-- End Header -->

  <main id="main">
    <br><br><br><br><br><br>
    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section--><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">
        <h1 style="color: #0C576E;" >Policy:</h1>
        <h4 style="color: #0C576E; font-family:'Dosis', sans-serif;">Hear4me is a non-profit aiming to help teenagers in need find immediate and long-term mental health support and care.
Our website contains a hotline, operated by volunteering psychology post-grad students. Every call will start with the volunteer listening to the teenager and offering mental support, and if necessary redirecting them to a therapist that fits their specific case.
Disclaimer: we are not a suicide crisis hotline. In case you or someone you know has any suicidal thoughts or tendencies we recommend calling the national suicidal hotline. 1201.
In a scenario in which the parents are influenced by the stigma surrounding mental healthcare, our volunteer will help the teen communicate their needs to their parents, and make sure they get consent for the therapy they want.
</h4>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Hear4Me</span></strong>. All Rights Reserved
        </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>